<div class="header">
	<h1>Send funds</h1>
	<h2>Deposit BTC to your account</h2>
</div>

<div class="content">
	<p>Send BTC to this address to deposit to your account. Once it has been confirmed on the
		Blockchain, you can use it to help people fund their loans.</p>

	<h1><%= @input_address %></h1>
</div>
