<div class="header">
	<h1>My funds</h1>
	<h2>BTC available on your account</h2>
</div>

<div class="content">
	<p>You have <strong><%= current_user.balance %> BTC</strong> available to help people fund their loans.</p>

	<p>You can <%= link_to "add funds", edit_funds_path %> to your balance.</p>
</div>
